<h1 style="margin-top: 2em; margin-bottom: 1em;">Add your car here</h1>

<div>
    <form #carForm="ngForm" style="min-height: 510;">
        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Brand</label>
                <app-async-select class="d-inline-block col-sm-12 col-md-10" restUrl="api/Brands/Select"
                    [(ngModel)]="carModel.brand" (ngModelChange)="carModel.brandId = $event?.id"></app-async-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Model</label>
                <input class="d-inline-block col-sm-12 col-md-10" style="margin-left: 15px; width: 79%;"
                    [(ngModel)]="carModel.model" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Price</label>
                <input class="d-inline-block col-sm-12 col-md-10" style="margin-left: 15px; width: 79%;" type="number"
                    [(ngModel)]="carModel.price" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Fuel</label>
                <app-async-select class="d-inline-block col-sm-12 col-md-10" restUrl="api/Fuels/Select"
                    [(ngModel)]="carModel.fuel" (ngModelChange)="carModel.fuelId = $event?.id"></app-async-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Transmission</label>
                <app-async-select class="d-inline-block col-sm-12 col-md-10" restUrl="api/Transmissions/Select"
                    [(ngModel)]="carModel.transmission" (ngModelChange)="carModel.transmissionId = $event?.id">
                </app-async-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Color</label>
                <app-async-select class="d-inline-block col-sm-12 col-md-10" restUrl="api/Colors/Select"
                    [(ngModel)]="carModel.color" (ngModelChange)="carModel.colorId = $event?.id"></app-async-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Year</label>
                <input type="number" class="d-inline-block col-sm-12 col-md-10" style="margin-left: 15px; width: 79%;"
                    [(ngModel)]="carModel.year" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Hp</label>
                <input type="number" class="d-inline-block col-sm-12 col-md-10" style="margin-left: 15px; width: 79%;"
                    [(ngModel)]="carModel.horsepower" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Km</label>
                <input type="number" class="d-inline-block col-sm-12 col-md-10" style="margin-left: 15px; width: 79%;"
                    [(ngModel)]="carModel.km" />
            </div>
        </div>

        <div class="container">
            <table class="table" style="width: 50%; margin: auto;">
                <thead>
                    <tr>
                        <th scope="col">Part</th>
                        <th scope="col">Description</th>
                        <th class="d-flex justify-content-end"><button type="button" class="btn btn-outline-dark"
                                (click)="addRow('part')">
                                Add</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of partsArr, let i = index">
                        <td><input name="detail-{{i}}" [(ngModel)]="partsArr[i].name" /></td>
                        <td><input name="descriptionDetail-{{i}}" [(ngModel)]="partsArr[i].description" /></td>
                        <td><button type="button" class="btn btn-sm btn-outline-dark" (click)="deleteRow(i, 'part')">
                                Delete</button></td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="container mt-5 mb-5">
            <table class="table" style="width: 50%; margin: auto;">
                <thead>
                    <tr>
                        <th scope="col">PicUrl</th>
                        <th scope="col" style="min-width: 260px;"></th>
                        <th class="d-flex justify-content-end"><button type="button" class="btn btn-outline-dark"
                                (click)="addRow('pic')">
                                Add</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of picsArr, let i = index">
                        <td><input name="pic-{{i}}" [(ngModel)]="picsArr[i].paths" /></td>
                        <td></td>
                        <td><button type="button" class="btn btn-sm btn-outline-dark" (click)="deleteRow(i, 'pic')">
                                Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>

    <button class="btn btn-outline-success form-group col-sm-12 offset-md-3 col-md-6"
        style="margin-top: 1em; margin-bottom: 2em;" (click)="addCar()">Add</button>
</div>