<div style="min-height: 800px;">
    <h1> My profile </h1>


    <div style="text-align: center; margin-bottom: 1em;">
        <img src="{{user.picPath}}"
             alt="image"
             class="avatar"
             onerror="this.src='https://www.pngrepo.com/download/221028/user-avatar.png'">
    </div>

    <div style="text-align: center;">
        <button type="button"
                class="btn btn-outline-warning"
                data-toggle="modal"
                data-target="#exampleModalCenter">
            Edit
        </button>
    </div>

    <div style="margin-top: 1em;">
        <p>Fisrat name: {{user.firstName}}</p>
        <p>Last name: {{user.lastName}}</p>
        <p>Username: {{user.userName}}</p>
        <p>Email: {{user.email}}</p>
        <p>Phone: {{user.phone}}</p>
    </div>

    <div class="modal fade"
         id="exampleModalCenter"
         tabindex="-1"
         role="dialog"
         aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered"
             role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                        id="exampleModalLongTitle">Edit</h5>
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label style="margin-left: 1em;">Img:</label>
                        <input type="text"
                               style="width: 85%;margin-left: 1em;"
                               [(ngModel)]="user.picPath">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                    <button type="button"
                            class="btn btn-success"
                            ng-hide="hideDiv"
                            (click)="editInfo()"
                            data-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>