<button id="edit-btn" type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#exampleModal">
    Edit
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col"><label>Brand:</label></div>
                    <div class="col">
                        <app-async-select restUrl="api/Brands/Select" [(ngModel)]="currentCar.brand"
                            (ngModelChange)="currentCar.brandId = $event?.id">
                        </app-async-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label>Model:</label></div>
                    <div class="col">
                        <input type="text" style="width: 218px;" [(ngModel)]="currentCar.model">
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col"><label>Year:</label></div>
                    <div class="col">
                        <input type="number" style="width: 218px;" [(ngModel)]="currentCar.year">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label>Price:</label></div>
                    <div class="col"><input type="number" style="width: 218px;" [(ngModel)]="currentCar.price"></div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label>Fuel:</label></div>
                    <div class="col">
                        <app-async-select restUrl="api/Fuels/Select" [(ngModel)]="currentCar.fuel"
                            (ngModelChange)="currentCar.fuelId = $event?.id">
                        </app-async-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label>Transmission:</label></div>
                    <div class="col">
                        <app-async-select restUrl="api/Transmissions/Select" [(ngModel)]="currentCar.transmission"
                            (ngModelChange)="currentCar.transmissionId = $event?.id">
                        </app-async-select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label>Horsepower:</label></div>
                    <div class="col">
                        <input type="number" style="width: 218px;" [(ngModel)]="currentCar.horsepower">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label>Km:</label></div>
                    <div class="col">
                        <input type="number" style="width: 218px;" [(ngModel)]="currentCar.km">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col"><label>Color:</label></div>
                    <div class="col">
                        <app-async-select restUrl="api/Colors/Select" [(ngModel)]="currentCar.color"
                            (ngModelChange)="currentCar.colorId = $event?.id">
                        </app-async-select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" ng-hide="hideDiv" (click)="editInfo()"
                    data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>