.select-dropdown-menu {
	overflow-x: hidden;
	width: 60%;
	max-height: 10em;
}

.select-dropdown-menu .search {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid #1C91D5;
	padding: 0 .3em;
}

.select-dropdown-menu input {
	width: 100%;
  margin: 0;
  margin-right: 8px;
  padding: 0;
  padding-bottom: 5px;
  outline: none !important;
  border: none;
	border-radius: 0;
}

.dropdown-item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: .25rem 0.5rem;
}

.dropdown-item:hover,
.selected {
	background-color: #1C91D5;
	color: #ffffff;
}

.disabled {
	pointer-events: none;
	background-color: #e9ecef;
}

.required {
	border: 1px solid #dc3545;
}
