<div id="comment">
    <div id="profileImg"><img style="max-width: 69%;"
             src={{comment.userProfilePicUrl}}
             alt="IMG"></div>
    <div>
        <div style="margin-bottom: 1em;">{{comment.userName}}</div>

        <div style="display: flex;">
            <div>{{comment.content}}</div>
            <button type="submit"
                    *ngIf="comment.userId==userId"
                    [ngClass]="{'btnDelete': comment.userId==userId}"
                    id="deleteBtn"
                    class="btn btn-outline-danger btn-sm"
                    (click)="deleteComment(comment.id)">Delete</button>
        </div>
    </div>
</div>