.heartIcon{
    color: #66FCF1;
    margin-right: 1em;
    align-self: center;
}

.carInfo{
    display: inline-flex; 
    align-items: center; 
    width: 100%; 
    justify-content: space-between;
     margin-bottom: 1em;
}

#unlikeBtn{
    background-color: white;
    color: red;
    font-family: 'Audiowide';
    border: solid 1px red;
}

#carDescription{
    color: black; 
    margin-left: 1em;
}

#carImg{
    width: 74px;
}