<fa-icon [icon]="faHeart" size="2x" class="heartIcon" data-toggle="modal" data-target="#liked"
    (click)="showLikedCars()">
</fa-icon>

<div class="modal fade" id="liked" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Liked</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngFor="let item of likedCars" class="carInfo" ng-hide="hideDiv" (click)="hide()"
                    data-dismiss="modal">
                    <div>
                        <img id="carImg" src="{{item.pictures[0].paths}}" alt="Card image"
                            onerror="this.src='https://image.freepik.com/free-photo/3d-rendering-white-question-mark-isolated-black-background_42071-126.jpg'"
                            [routerLink]="['cars', item.id]">
                        <a [routerLink]="['cars', item.id]" id="carDescription">{{item.brand.name}} {{item.model}}
                            {{item.price}} lv.</a>
                    </div>
                    <button id="unlikeBtn" (click)="unlikeCar(item)">Unlike</button>
                </div>

            </div>
        </div>
    </div>
</div>