@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Yellowtail&display=swap');
.form-control {
    box-shadow: none;
    font-weight: normal;
    font-size: 13px;
}

img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}

.navbar-brand {
    padding-left: 0;
    font-size: 20px;
}

.navbar .navbar-brand b {
    color: #66FCF1;
}

.navbar .form-inline {
    display: inline-block;
}

a {
    color: #66FCF1;
    font-size: 18px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding-right: 35px;
    border-color: #dfe3e8;
    border-radius: 4px !important;
    box-shadow: none;
}

.search-box .input-group-text {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}

.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}

.sign-up-btn {
    min-width: 110px;
    max-height: 36px;
}

.dropdown-menu {
    color: #999;
    font-weight: normal;
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

a,
a:active {
    color: #66FCF1;
    padding: 8px 20px;
    background: transparent;
    line-height: normal;
    font-family: 'Audiowide';
}

.navbar .navbar-form {
    border: none;
}

.action-form {
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
    font-size: 14px;
}

.action-form a {
    color: #000000;
    padding: 0 !important;
    font-size: 14px;
}

.action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.btn-primary,
.btn-primary:active {
    color: rgb(0, 0, 0);
    background: #66FCF1 !important;
    border: none;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #fff !important;
    background: #66FCF1 !important;
}

.social-btn .btn,
.social-btn .btn:hover {
    color: #fff !important;
    margin: 0;
    padding: 0 !important;
    font-size: 13px;
    border: none;
    transition: all 0.4s;
    text-align: center;
    line-height: 34px;
    width: 47%;
    text-decoration: none;
}

.social-btn .facebook-btn {
    background: #507cc0;
}

.social-btn .facebook-btn:hover {
    background: #4676bd;
}

.social-btn .twitter-btn {
    background: #64ccf1;
}

.social-btn .twitter-btn:hover {
    background: #4ec7ef;
}

.social-btn .btn i {
    margin-right: 5px;
    font-size: 16px;
    position: relative;
    top: 2px;
}

.or-seperator {
    margin-top: 32px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    color: rgb(0, 0, 0);
    padding: 0 8px;
    width: 30px;
    height: 30px;
    font-size: 13px;
    text-align: center;
    line-height: 26px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -15px;
    z-index: 1;
}

.action-buttons .dropdown-toggle::after {
    display: none;
}

.form-check-label input {
    position: relative;
    top: 1px;
}