<h1 style="margin-top: 2em; margin-bottom: 1em;">Add your car here</h1>

<div>
    <form #carForm="ngForm"
          style="min-height: 510;">
        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Brand</label>
                <app-async-select class="d-inline-block col-sm-12 col-md-10"
                                  restUrl="api/Brands/Select"
                                  [(ngModel)]="carModel.brand"
                                  (ngModelChange)="carModel.brandId = $event?.id"></app-async-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Model</label>
                <input class="d-inline-block col-sm-12 col-md-10"
                       style="margin-left: 15px; width: 79%;"
                       [(ngModel)]="carModel.model" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Price</label>
                <input class="d-inline-block col-sm-12 col-md-10"
                       style="margin-left: 15px; width: 79%;"
                       type="number"
                       [(ngModel)]="carModel.price" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Fuel</label>
                <app-async-select class="d-inline-block col-sm-12 col-md-10"
                                  restUrl="api/Fuels/Select"
                                  [(ngModel)]="carModel.fuel"
                                  (ngModelChange)="carModel.fuelId = $event?.id"></app-async-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Transmission</label>
                <app-async-select class="d-inline-block col-sm-12 col-md-10"
                                  restUrl="api/Transmissions/Select"
                                  [(ngModel)]="carModel.transmission"
                                  (ngModelChange)="carModel.transmissionId = $event?.id"></app-async-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Color</label>
                <app-async-select class="d-inline-block col-sm-12 col-md-10"
                                  restUrl="api/Colors/Select"
                                  [(ngModel)]="carModel.color"
                                  (ngModelChange)="carModel.colorId = $event?.id"></app-async-select>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Year</label>
                <input type="number"
                       class="d-inline-block col-sm-12 col-md-10"
                       style="margin-left: 15px; width: 79%;"
                       [(ngModel)]="carModel.year" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Hp</label>
                <input type="number"
                       class="d-inline-block col-sm-12 col-md-10"
                       style="margin-left: 15px; width: 79%;"
                       [(ngModel)]="carModel.horsepower" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Km</label>
                <input type="number"
                       class="d-inline-block col-sm-12 col-md-10"
                       style="margin-left: 15px; width: 79%;"
                       [(ngModel)]="carModel.km" />
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 offset-md-3 col-md-6">
                <label class="col-sm-12 col-md-2">Picture</label>
                <input class="d-inline-block col-sm-12 col-md-10"
                       style="margin-left: 15px; width: 79%;"
                       [(ngModel)]="carModel.carPic" />
            </div>
        </div>
        <div style="width: 47%;margin-left: auto;margin-right: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Part</th>
                        <th scope="col">Description</th>
                        <th><button type="button"
                                    class="btn btn-outline-dark"
                                    style="height: 30px;padding-top: 1px;padding-left: 6px;padding-right: 6px;"
                                    (click)="addRow()">
                                Add</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of arr, let i = index">
                        <td><input name="detail-{{i}}"
                                   [(ngModel)]="arr[i].detail" /></td>
                        <td><input name="descriptionDetail-{{i}}"
                                   [(ngModel)]="arr[i].descriptionDetail" /></td>
                        <td><button type="button"
                                    class="btn btn-outline-dark"
                                    style="height: 30px;"
                                    (click)="deleteRow(i)">
                                Delete</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </form>


    <button class="btn btn-outline-success form-group col-sm-12 offset-md-3 col-md-6"
            style="margin-top: 1em; margin-bottom: 2em;"
            (click)="addCar()">Add</button>
</div>