@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Yellowtail&display=swap');
p {
    font-family: 'Audiowide';
}

.title {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    font-family: 'Audiowide';
}

h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Audiowide';
}

.carPicture {
    display: flex;
    justify-content: center;
    display: inline-block;
    margin: 1em;
    max-width: 500px;
    max-height: 600px;
    margin-left: 26%;
    margin-bottom: 4em;
}

ul, li {
    list-style-type: none;
    padding: 0px;
}

img {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 600px;
}

app-async-select {
    width: 70%;
}

.row {
    margin-bottom: 1em;
}

label {
    margin-right: 1em;
}

#buttonActionsDiv {
    justify-content: center;
    display: flex;
    margin-bottom: 1em;
}

#title {
    justify-content: center;
    display: flex;
}

#divTitleButns{
    display: block;
}

.disable{
        cursor: not-allowed;
        pointer-events: none;
}
