.mainDiv {
    padding: 20px;
    padding-bottom: 20px;
    transform: translate(7%, 19%);
    margin-bottom: 0px;
    max-width: 85%;
}
.addBtn {
    position: fixed;
    left: 47%;
    margin-top: 1em;
}
.addComentTitle {
    text-align: center;
    margin-bottom: 1em;
}
.addBtnDiv{
    width: 6%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
